body {
  margin: 0%;
}
section {
  background-color: burlywood;
}
.border {
  border-left: 7px solid;
  border-image: linear-gradient(red, violet);
  border-image-slice: 1;
}
.robin {
  display: flex;
  font-family: "Merriweather", serif;
  font-size: 25px;
  padding-left: 5%;
  padding-top: 5%;
}
.boy {
  font-size: 20px;
  margin-right: 5%;
}
.robin img {
  width: 80%;
  padding-right: 10%;
}
#mouse {
  color: crimson;
}
.rat {
  text-decoration: none;
  background-image: linear-gradient(#361820, #581432);
  padding: 10px 40px;
  color: whitesmoke;
  border-radius: 5px;
  font-weight: 400;
}
#mate {
  text-align: center;
  padding-top: 5%;
}
.alfred {
  padding: 0%;
  margin: 0%;
  font-family: "Merriweather", serif;
  font-size: 25px;
}
.queen img {
  padding: 5%;
}
#heading-1 {
  padding-left: 5%;
}
.villains {
  display: flex;
}
.queen {
  text-align: center;
  background-color: aqua;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
  border: none;
  width: 18%;
  padding: 5%;
  height: 330px;
  box-shadow: 5px 8px 50px gray;
}
.harley {
  text-align: center;
  background-color: burlywood;
  margin-top: 5%;
  margin-left: 5%;
  border: none;
  border-radius: 10px;
  width: 18%;
  padding: 5%;
  height: 330px;
  box-shadow: 5px 8px 50px gray;
}
.mask {
  text-align: center;
  background-color: cadetblue;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border: none;
  width: 18%;
  border-radius: 10px;
  padding: 5%;
  height: 330px;
  box-shadow: 5px 8px 50px gray;
}
.first-robin {
  display: flex;
  font-family: "Merriweather", serif;
}
.first-robin img {
  padding-top: 10%;
  padding-left: 10%;
}
.riot {
  padding-left: 5%;
  padding-right: 5%;
}
.riot img {
  padding-left: 3%;
}
#car {
  padding-top: 10%;
  text-align: justify;
}
#rio {
  color: chartreuse;
}
.assasin {
  display: flex;
  padding-top: 5%;
}
.first {
  padding-left: 5%;
  padding-right: 5%;
}
#second {
  padding-top: 10%;
  text-align: justify;
}
center {
  padding-top: 5%;
  padding-bottom: 5%;
}
.movie {
  color: darkslateblue;
  padding-bottom: 5%;
  font-weight: bold;
}
footer {
  background-color: black;
  width: 100%;
  height: 178px;
}
.last {
  text-align: center;
  font-weight: bold;
  color: white;
  display: inline-block;
  margin-top: 80px;
  margin-left: 580px;
}
#wayne {
  text-align: center;
  color: white;
  border-bottom: 5%;
}
span {
  color: chocolate;
}
